In [3]:
import pandas as pd
from numpy import genfromtxt
import numpy as np

In [6]:
dataset1 = genfromtxt('dataset1.csv',delimiter=',')
dataset2 = genfromtxt('dataset2.csv',delimiter=',')
dataset3 = genfromtxt('dataset3.csv',delimiter=',')
dataset4 = genfromtxt('dataset4.csv',delimiter=',')
dataset5 = genfromtxt('dataset5.csv',delimiter=',')
dataset6 = genfromtxt('dataset6.csv',delimiter=',')
dataset7 = genfromtxt('dataset7.csv',delimiter=',')
dataset8 = genfromtxt('dataset8.csv',delimiter=',')
dataset9 = genfromtxt('dataset9.csv',delimiter=',')
dataset10 = genfromtxt('dataset10.csv',delimiter=',')
dataset11 = genfromtxt('dataset11.csv',delimiter=',')
dataset12 = genfromtxt('dataset12.csv',delimiter=',')
dataset13 = genfromtxt('dataset13.csv',delimiter=',')
dataset14 = genfromtxt('dataset14.csv',delimiter=',')
dataset15 = genfromtxt('dataset15.csv',delimiter=',')
dataset16 = genfromtxt('dataset16.csv',delimiter=',')
dataset17 = genfromtxt('dataset17.csv',delimiter=',')
dataset18 = genfromtxt('dataset18.csv',delimiter=',')
dataset19 = genfromtxt('dataset19.csv',delimiter=',')
dataset20 = genfromtxt('dataset20.csv',delimiter=',')
dataset21 = genfromtxt('dataset21.csv',delimiter=',')
dataset22 = genfromtxt('dataset22.csv',delimiter=',')
dataset23 = genfromtxt('dataset23.csv',delimiter=',')
dataset24 = genfromtxt('dataset24.csv',delimiter=',')
dataset25 = genfromtxt('dataset25.csv',delimiter=',')
dataset26 = genfromtxt('dataset26.csv',delimiter=',')
dataset27 = genfromtxt('dataset27.csv',delimiter=',')
dataset28 = genfromtxt('dataset28.csv',delimiter=',')
dataset29 = genfromtxt('dataset29.csv',delimiter=',')
dataset30 = genfromtxt('dataset30.csv',delimiter=',')
dataset31 = genfromtxt('dataset31.csv',delimiter=',')
dataset32 = genfromtxt('dataset32.csv',delimiter=',')

In [8]:
df = pd.DataFrame({"A":["foo", "foo", "foo", "bar"], "B":[0,1,1,1], "C":["A","A","B","A"]})
df

     A  B  C
0  foo  0  A
1  foo  1  A
2  foo  1  B
3  bar  1  A

In [9]:
df.drop_duplicates(subset=['A', 'C'], keep=True)

     A  B  C
2  foo  1  B
3  bar  1  A

     A  B  C
0  foo  0  A
1  foo  1  A
2  foo  1  B
3  bar  1  A